--
-- PostgreSQL database dump
--

\restrict J0pKv23dECKy4B7jiDcoDzq5YZkWBttvkRpRZnQkX0IPSU1cFVmOOlxcbqEkpX2

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.whatsapp_instances DROP CONSTRAINT IF EXISTS whatsapp_instances_professor_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.user_achievements DROP CONSTRAINT IF EXISTS user_achievements_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.trainings DROP CONSTRAINT IF EXISTS trainings_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_user_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_plan_id_plans_id_fk;
ALTER TABLE IF EXISTS ONLY public.promotions DROP CONSTRAINT IF EXISTS promotions_student_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.promotions DROP CONSTRAINT IF EXISTS promotions_professor_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_author_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_student_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_professor_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_to_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.goals DROP CONSTRAINT IF EXISTS goals_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.extra_trainings DROP CONSTRAINT IF EXISTS extra_trainings_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.events DROP CONSTRAINT IF EXISTS events_creator_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.enrollments DROP CONSTRAINT IF EXISTS enrollments_student_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.enrollments DROP CONSTRAINT IF EXISTS enrollments_professor_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.competitions DROP CONSTRAINT IF EXISTS competitions_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_post_id_posts_id_fk;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_author_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.class_schedules DROP CONSTRAINT IF EXISTS class_schedules_professor_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.class_check_ins DROP CONSTRAINT IF EXISTS class_check_ins_student_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.class_check_ins DROP CONSTRAINT IF EXISTS class_check_ins_schedule_id_class_schedules_id_fk;
ALTER TABLE IF EXISTS ONLY public.challenges DROP CONSTRAINT IF EXISTS challenges_creator_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.announcement_dismissals DROP CONSTRAINT IF EXISTS announcement_dismissals_user_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.announcement_dismissals DROP CONSTRAINT IF EXISTS announcement_dismissals_announcement_id_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_student_professor_assignments DROP CONSTRAINT IF EXISTS academy_student_professor_assignments_student_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_student_professor_assignments DROP CONSTRAINT IF EXISTS academy_student_professor_assignments_professor_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_student_professor_assignments DROP CONSTRAINT IF EXISTS academy_student_professor_assignments_created_by_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_student_professor_assignments DROP CONSTRAINT IF EXISTS academy_student_professor_assignments_academy_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_requests DROP CONSTRAINT IF EXISTS academy_requests_student_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.academy_requests DROP CONSTRAINT IF EXISTS academy_requests_professor_uid_users_uid_fk;
ALTER TABLE IF EXISTS ONLY public.academy_professor_links DROP CONSTRAINT IF EXISTS academy_professor_links_professor_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_professor_links DROP CONSTRAINT IF EXISTS academy_professor_links_created_by_uid_fkey;
ALTER TABLE IF EXISTS ONLY public.academy_professor_links DROP CONSTRAINT IF EXISTS academy_professor_links_academy_uid_fkey;
DROP INDEX IF EXISTS public.idx_announcement_dismissal;
DROP INDEX IF EXISTS public.idx_academy_student_professor_assignment;
DROP INDEX IF EXISTS public.idx_academy_professor_link;
ALTER TABLE IF EXISTS ONLY public.whatsapp_instances DROP CONSTRAINT IF EXISTS whatsapp_instances_professor_uid_key;
ALTER TABLE IF EXISTS ONLY public.whatsapp_instances DROP CONSTRAINT IF EXISTS whatsapp_instances_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_unique;
ALTER TABLE IF EXISTS ONLY public.user_achievements DROP CONSTRAINT IF EXISTS user_achievements_pkey;
ALTER TABLE IF EXISTS ONLY public.trainings DROP CONSTRAINT IF EXISTS trainings_pkey;
ALTER TABLE IF EXISTS ONLY public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_pkey;
ALTER TABLE IF EXISTS ONLY public.settings DROP CONSTRAINT IF EXISTS settings_pkey;
ALTER TABLE IF EXISTS ONLY public.promotions DROP CONSTRAINT IF EXISTS promotions_pkey;
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS posts_pkey;
ALTER TABLE IF EXISTS ONLY public.plans DROP CONSTRAINT IF EXISTS plans_slug_unique;
ALTER TABLE IF EXISTS ONLY public.plans DROP CONSTRAINT IF EXISTS plans_pkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY public.goals DROP CONSTRAINT IF EXISTS goals_pkey;
ALTER TABLE IF EXISTS ONLY public.extra_trainings DROP CONSTRAINT IF EXISTS extra_trainings_pkey;
ALTER TABLE IF EXISTS ONLY public.events DROP CONSTRAINT IF EXISTS events_pkey;
ALTER TABLE IF EXISTS ONLY public.enrollments DROP CONSTRAINT IF EXISTS enrollments_pkey;
ALTER TABLE IF EXISTS ONLY public.competitions DROP CONSTRAINT IF EXISTS competitions_pkey;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_pkey;
ALTER TABLE IF EXISTS ONLY public.class_schedules DROP CONSTRAINT IF EXISTS class_schedules_pkey;
ALTER TABLE IF EXISTS ONLY public.class_check_ins DROP CONSTRAINT IF EXISTS class_check_ins_pkey;
ALTER TABLE IF EXISTS ONLY public.challenges DROP CONSTRAINT IF EXISTS challenges_pkey;
ALTER TABLE IF EXISTS ONLY public.announcements DROP CONSTRAINT IF EXISTS announcements_pkey;
ALTER TABLE IF EXISTS ONLY public.announcement_dismissals DROP CONSTRAINT IF EXISTS announcement_dismissals_pkey;
ALTER TABLE IF EXISTS ONLY public.academy_student_professor_assignments DROP CONSTRAINT IF EXISTS academy_student_professor_assignments_pkey;
ALTER TABLE IF EXISTS ONLY public.academy_requests DROP CONSTRAINT IF EXISTS academy_requests_pkey;
ALTER TABLE IF EXISTS ONLY public.academy_professor_links DROP CONSTRAINT IF EXISTS academy_professor_links_pkey;
ALTER TABLE IF EXISTS ONLY drizzle.__drizzle_migrations DROP CONSTRAINT IF EXISTS __drizzle_migrations_pkey;
ALTER TABLE IF EXISTS drizzle.__drizzle_migrations ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.whatsapp_instances;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_achievements;
DROP TABLE IF EXISTS public.trainings;
DROP TABLE IF EXISTS public.subscriptions;
DROP TABLE IF EXISTS public.settings;
DROP TABLE IF EXISTS public.promotions;
DROP TABLE IF EXISTS public.posts;
DROP TABLE IF EXISTS public.plans;
DROP TABLE IF EXISTS public.payments;
DROP TABLE IF EXISTS public.notifications;
DROP TABLE IF EXISTS public.goals;
DROP TABLE IF EXISTS public.extra_trainings;
DROP TABLE IF EXISTS public.events;
DROP TABLE IF EXISTS public.enrollments;
DROP TABLE IF EXISTS public.competitions;
DROP TABLE IF EXISTS public.comments;
DROP TABLE IF EXISTS public.class_schedules;
DROP TABLE IF EXISTS public.class_check_ins;
DROP TABLE IF EXISTS public.challenges;
DROP TABLE IF EXISTS public.announcements;
DROP TABLE IF EXISTS public.announcement_dismissals;
DROP TABLE IF EXISTS public.academy_student_professor_assignments;
DROP TABLE IF EXISTS public.academy_requests;
DROP TABLE IF EXISTS public.academy_professor_links;
DROP SEQUENCE IF EXISTS drizzle.__drizzle_migrations_id_seq;
DROP TABLE IF EXISTS drizzle.__drizzle_migrations;
DROP SCHEMA IF EXISTS drizzle;
--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA drizzle;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: -
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: -
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: -
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: academy_professor_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.academy_professor_links (
    id text NOT NULL,
    academy_uid text NOT NULL,
    professor_uid text NOT NULL,
    relation_type text DEFAULT 'internal'::text NOT NULL,
    status text DEFAULT 'active'::text,
    notes text,
    created_by_uid text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    partner_revenue_share_percent real,
    partner_revenue_notes text
);


--
-- Name: academy_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.academy_requests (
    id text NOT NULL,
    student_uid text NOT NULL,
    student_name text,
    student_email text,
    student_photo text,
    student_belt text,
    professor_uid text NOT NULL,
    academy_name text,
    status text DEFAULT 'pending'::text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: academy_student_professor_assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.academy_student_professor_assignments (
    id text NOT NULL,
    academy_uid text NOT NULL,
    professor_uid text NOT NULL,
    student_uid text NOT NULL,
    relation_type text DEFAULT 'internal'::text NOT NULL,
    status text DEFAULT 'active'::text,
    student_name text,
    professor_name text,
    notes text,
    created_by_uid text,
    decided_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: announcement_dismissals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.announcement_dismissals (
    id text NOT NULL,
    announcement_id text NOT NULL,
    user_uid text NOT NULL,
    dismissed_at timestamp without time zone DEFAULT now()
);


--
-- Name: announcements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.announcements (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    image_url text,
    link_url text,
    link_text text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    source_uid text,
    source_name text,
    source_role text,
    scope text DEFAULT 'global'::text,
    audience text DEFAULT 'all'::text,
    target_academy_id text,
    target_professor_uid text,
    urgent boolean DEFAULT false
);


--
-- Name: challenges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenges (
    id text NOT NULL,
    creator_uid text NOT NULL,
    academy_id text,
    title text NOT NULL,
    description text,
    target integer DEFAULT 1,
    unit text DEFAULT 'treinos'::text,
    start_date text,
    end_date text,
    media_url text,
    is_public boolean DEFAULT true,
    participants jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: class_check_ins; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.class_check_ins (
    id text NOT NULL,
    schedule_id text,
    academy_id text NOT NULL,
    student_uid text NOT NULL,
    check_in_date text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: class_schedules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.class_schedules (
    id text NOT NULL,
    academy_id text NOT NULL,
    professor_uid text NOT NULL,
    day_of_week integer,
    start_time text,
    end_time text,
    class_name text,
    modality text,
    created_at timestamp without time zone DEFAULT now(),
    days jsonb DEFAULT '[]'::jsonb,
    "time" text,
    type text,
    mode text,
    publico text,
    duration_min integer,
    notes text
);


--
-- Name: comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.comments (
    id text NOT NULL,
    post_id text NOT NULL,
    author_uid text NOT NULL,
    author_name text,
    author_photo text,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: competitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.competitions (
    id text NOT NULL,
    uid text NOT NULL,
    name text NOT NULL,
    date text,
    location text,
    category text,
    weight_class text,
    result text DEFAULT 'gold'::text,
    notes text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.enrollments (
    id text NOT NULL,
    professor_uid text NOT NULL,
    professor_name text,
    academy_name text,
    student_uid text NOT NULL,
    student_name text,
    monthly_fee real DEFAULT 0,
    due_day integer DEFAULT 1,
    status text DEFAULT 'active'::text,
    pix_key text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.events (
    id text NOT NULL,
    creator_uid text NOT NULL,
    academy_id text,
    title text NOT NULL,
    description text,
    event_date text,
    event_time text,
    location text,
    media_url text,
    is_public boolean DEFAULT true,
    rsvps jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    type text DEFAULT 'outro'::text,
    slots integer,
    price text,
    duration text,
    academy_name text,
    academy_logo text,
    registration_names jsonb DEFAULT '{}'::jsonb,
    registration_belts jsonb DEFAULT '{}'::jsonb,
    registrations_closed boolean DEFAULT false,
    location_cep text,
    location_address text,
    location_number text,
    location_neighborhood text,
    location_city text,
    location_state text,
    location_latitude real,
    location_longitude real
);


--
-- Name: extra_trainings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.extra_trainings (
    id text NOT NULL,
    uid text NOT NULL,
    training_date text NOT NULL,
    activity text,
    duration integer NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: goals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goals (
    id text NOT NULL,
    uid text NOT NULL,
    title text NOT NULL,
    target integer DEFAULT 0,
    unit text DEFAULT 'treinos'::text,
    period text DEFAULT 'weekly'::text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    to_uid text NOT NULL,
    from_uid text,
    from_name text,
    type text,
    message text NOT NULL,
    data jsonb,
    read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id text NOT NULL,
    professor_uid text NOT NULL,
    student_uid text NOT NULL,
    student_name text,
    student_email text,
    amount real NOT NULL,
    due_date timestamp without time zone,
    paid_at timestamp without time zone,
    status text DEFAULT 'pending'::text,
    pix_link text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: plans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.plans (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    price real NOT NULL,
    role_assigned text NOT NULL,
    features jsonb DEFAULT '[]'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    trial_days integer DEFAULT 0
);


--
-- Name: posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.posts (
    id text NOT NULL,
    author_uid text NOT NULL,
    author_name text,
    author_photo text,
    author_belt text,
    content text,
    media_url text,
    media_type text,
    post_type text DEFAULT 'community'::text,
    academy_id text,
    training_data jsonb,
    likes jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    academy_name text,
    academy_logo text
);


--
-- Name: promotions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.promotions (
    id text NOT NULL,
    professor_uid text NOT NULL,
    student_uid text NOT NULL,
    student_name text,
    from_belt text,
    to_belt text,
    from_stripes integer,
    to_stripes integer,
    notes text,
    promoted_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.settings (
    key text NOT NULL,
    value text NOT NULL
);


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subscriptions (
    id text NOT NULL,
    user_uid text NOT NULL,
    plan_id text NOT NULL,
    status text DEFAULT 'active'::text,
    asaas_id text,
    asaas_customer_id text,
    current_period_start timestamp without time zone,
    current_period_end timestamp without time zone,
    trial_ends_at timestamp without time zone,
    cancelled_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: trainings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trainings (
    id text NOT NULL,
    uid text NOT NULL,
    training_date text NOT NULL,
    session_type text,
    modality text,
    duration integer NOT NULL,
    intensity integer,
    satisfaction integer,
    techniques jsonb DEFAULT '{}'::jsonb,
    notes text,
    academy text,
    professor text,
    training_photo_url text,
    xp integer DEFAULT 0,
    extra_data jsonb,
    comp_data jsonb,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_achievements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_achievements (
    id text NOT NULL,
    uid text NOT NULL,
    achievement_id text NOT NULL,
    unlocked_at timestamp without time zone DEFAULT now()
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    uid text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    photo text,
    belt text DEFAULT 'Branca'::text NOT NULL,
    stripes integer DEFAULT 0,
    academy text DEFAULT ''::text,
    academy_id text,
    professor text DEFAULT ''::text,
    dob text,
    sex text,
    weight_kg text,
    height_cm text,
    phone text,
    address text,
    bjj_since text,
    xp integer DEFAULT 0,
    total_trainings integer DEFAULT 0,
    total_minutes integer DEFAULT 0,
    streak integer DEFAULT 0,
    last_training_date text,
    athlete_type text,
    is_academy_admin boolean DEFAULT false,
    role text DEFAULT 'student'::text,
    academy_name text,
    academy_address text,
    academy_city text,
    academy_state text,
    academy_logo_url text,
    professor_photo_url text,
    saved_academies jsonb DEFAULT '[]'::jsonb,
    saved_professors jsonb DEFAULT '[]'::jsonb,
    invite_code text,
    created_at timestamp without time zone DEFAULT now(),
    academy_cnpj text,
    academy_cep text,
    academy_number text,
    academy_neighborhood text,
    academy_complement text,
    subscription_exempt boolean DEFAULT false,
    community_moderator boolean DEFAULT false,
    trial_ends_at timestamp without time zone,
    academy_latitude real,
    academy_longitude real,
    trial_requests_enabled boolean DEFAULT true,
    academy_phone text,
    academy_instagram text,
    academy_style text,
    academy_franchise text,
    academy_monthly_fee real,
    academy_daily_fee real,
    academy_pix_key text,
    academy_photo_urls jsonb DEFAULT '[]'::jsonb,
    academy_waiver_text text,
    promotion_criteria jsonb DEFAULT '[]'::jsonb,
    must_change_password boolean DEFAULT false
);


--
-- Name: whatsapp_instances; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.whatsapp_instances (
    id text NOT NULL,
    professor_uid text NOT NULL,
    instance_name text NOT NULL,
    status text DEFAULT 'disconnected'::text,
    phone text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: -
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: -
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
\.


--
-- Data for Name: academy_professor_links; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.academy_professor_links (id, academy_uid, professor_uid, relation_type, status, notes, created_by_uid, created_at, updated_at, partner_revenue_share_percent, partner_revenue_notes) FROM stdin;
iajlffZhwVfpnqpOIOJXP	kogLjyu1wVBilVhdCD6pq	anDbL8Nf61fn2p_k5jhdd	internal	active	\N	kogLjyu1wVBilVhdCD6pq	2026-06-16 04:18:27.180147	2026-06-16 07:18:27.176	\N	\N
fu8O7lnOLINvXZOGfm0Hd	kogLjyu1wVBilVhdCD6pq	Ool58qGfkawpIAGDRVJoh	partner	pending	\N	kogLjyu1wVBilVhdCD6pq	2026-06-16 23:19:15.903939	2026-06-17 02:19:15.902	50	\N
\.


--
-- Data for Name: academy_requests; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.academy_requests (id, student_uid, student_name, student_email, student_photo, student_belt, professor_uid, academy_name, status, created_at) FROM stdin;
dDXqHF3IlyRLt6IY6gD6_	V_HrBI2BTm0ACwSJvTb4O	aluno	aluno@aluno.com	\N	Branca	kogLjyu1wVBilVhdCD6pq	Tester	accepted	2026-06-07 23:10:20.165977
\.


--
-- Data for Name: academy_student_professor_assignments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.academy_student_professor_assignments (id, academy_uid, professor_uid, student_uid, relation_type, status, student_name, professor_name, notes, created_by_uid, decided_at, created_at, updated_at) FROM stdin;
B19xzaSq2_i8KvO5pS7F8	kogLjyu1wVBilVhdCD6pq	anDbL8Nf61fn2p_k5jhdd	V_HrBI2BTm0ACwSJvTb4O	internal	active	aluno	foda	\N	kogLjyu1wVBilVhdCD6pq	2026-06-16 07:18:40.409	2026-06-16 04:18:40.413265	2026-06-16 07:18:40.409
\.


--
-- Data for Name: announcement_dismissals; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.announcement_dismissals (id, announcement_id, user_uid, dismissed_at) FROM stdin;
\.


--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.announcements (id, title, content, image_url, link_url, link_text, is_active, created_at, updated_at, source_uid, source_name, source_role, scope, audience, target_academy_id, target_professor_uid, urgent) FROM stdin;
\.


--
-- Data for Name: challenges; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.challenges (id, creator_uid, academy_id, title, description, target, unit, start_date, end_date, media_url, is_public, participants, created_at) FROM stdin;
7k72G5puk6Ss1dk8n7fdv	Ool58qGfkawpIAGDRVJoh	Ool58qGfkawpIAGDRVJoh	dghghgdh	rgdtgtedgtg	1	treinos	2026-06-16	2026-06-17	\N	t	[]	2026-06-15 20:50:02.687276
ebww8KI_aDFt1nZDnQqEH	kogLjyu1wVBilVhdCD6pq	kogLjyu1wVBilVhdCD6pq	hmgjmfhdg	hmjkyhfgdasfaef	1	treinos	2026-06-15	2026-06-30	\N	t	[]	2026-06-15 22:07:47.118898
\.


--
-- Data for Name: class_check_ins; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.class_check_ins (id, schedule_id, academy_id, student_uid, check_in_date, created_at) FROM stdin;
\.


--
-- Data for Name: class_schedules; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.comments (id, post_id, author_uid, author_name, author_photo, content, created_at) FROM stdin;
\.


--
-- Data for Name: competitions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.competitions (id, uid, name, date, location, category, weight_class, result, notes, created_at) FROM stdin;
rtVwN5PFZ4F93qt3e6Ngw	-qapzl2rZp0MxmS8_Y6ir	copita	2026-05-24	sff	ffb	\N	gold	dcbgzgcb	2026-05-24 23:49:38.588471
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.enrollments (id, professor_uid, professor_name, academy_name, student_uid, student_name, monthly_fee, due_day, status, pix_key, created_at) FROM stdin;
is-VEEtlIp62bB2klmB6O	Ool58qGfkawpIAGDRVJoh	\N	\N	V_HrBI2BTm0ACwSJvTb4O	aluno	150	5	active	14707815731	2026-06-10 21:01:10.966708
4_uliX597evoLo0C2tLi3	Ool58qGfkawpIAGDRVJoh	\N	\N	V_HrBI2BTm0ACwSJvTb4O	aluno	150	5	active	14707815731	2026-06-10 22:18:07.797437
y1cmUvO9GyA7DobPmSINF	kogLjyu1wVBilVhdCD6pq	\N	Tester	V_HrBI2BTm0ACwSJvTb4O	aluno	150	1	active	\N	2026-06-15 21:03:13.751771
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: extra_trainings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.extra_trainings (id, uid, training_date, activity, duration, notes, created_at) FROM stdin;
\.


--
-- Data for Name: goals; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.goals (id, uid, title, target, unit, period, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: promotions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.subscriptions (id, user_uid, plan_id, status, asaas_id, asaas_customer_id, current_period_start, current_period_end, trial_ends_at, cancelled_at, created_at) FROM stdin;
\.


--
-- Data for Name: trainings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_achievements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_achievements (id, uid, achievement_id, unlocked_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: whatsapp_instances; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.whatsapp_instances (id, professor_uid, instance_name, status, phone, created_at, updated_at) FROM stdin;
qcC0iiM-G73C_XWhm_KGe	Ool58qGfkawpIAGDRVJoh	bjjrats_Ool58qGfkawpIAGDRVJoh	connected	\N	2026-06-12 01:08:19.587062	2026-06-12 01:08:19.587062
7s9GYJFagfWpspVhKDfxo	kogLjyu1wVBilVhdCD6pq	bjjrats_academy_kogLjyu1wVBilVhdCD6pq	connected	\N	2026-06-16 05:26:36.110774	2026-06-16 05:26:36.110774
\.


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: -
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 1, false);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: -
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: academy_professor_links academy_professor_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_professor_links
    ADD CONSTRAINT academy_professor_links_pkey PRIMARY KEY (id);


--
-- Name: academy_requests academy_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_requests
    ADD CONSTRAINT academy_requests_pkey PRIMARY KEY (id);


--
-- Name: academy_student_professor_assignments academy_student_professor_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_student_professor_assignments
    ADD CONSTRAINT academy_student_professor_assignments_pkey PRIMARY KEY (id);


--
-- Name: announcement_dismissals announcement_dismissals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcement_dismissals
    ADD CONSTRAINT announcement_dismissals_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: challenges challenges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_pkey PRIMARY KEY (id);


--
-- Name: class_check_ins class_check_ins_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_check_ins
    ADD CONSTRAINT class_check_ins_pkey PRIMARY KEY (id);


--
-- Name: class_schedules class_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: competitions competitions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: extra_trainings extra_trainings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.extra_trainings
    ADD CONSTRAINT extra_trainings_pkey PRIMARY KEY (id);


--
-- Name: goals goals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goals
    ADD CONSTRAINT goals_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: plans plans_slug_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_slug_unique UNIQUE (slug);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: promotions promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (key);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: trainings trainings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trainings
    ADD CONSTRAINT trainings_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (uid);


--
-- Name: whatsapp_instances whatsapp_instances_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.whatsapp_instances
    ADD CONSTRAINT whatsapp_instances_pkey PRIMARY KEY (id);


--
-- Name: whatsapp_instances whatsapp_instances_professor_uid_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.whatsapp_instances
    ADD CONSTRAINT whatsapp_instances_professor_uid_key UNIQUE (professor_uid);


--
-- Name: idx_academy_professor_link; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_academy_professor_link ON public.academy_professor_links USING btree (academy_uid, professor_uid);


--
-- Name: idx_academy_student_professor_assignment; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_academy_student_professor_assignment ON public.academy_student_professor_assignments USING btree (academy_uid, professor_uid, student_uid);


--
-- Name: idx_announcement_dismissal; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_announcement_dismissal ON public.announcement_dismissals USING btree (announcement_id, user_uid);


--
-- Name: academy_professor_links academy_professor_links_academy_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_professor_links
    ADD CONSTRAINT academy_professor_links_academy_uid_fkey FOREIGN KEY (academy_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: academy_professor_links academy_professor_links_created_by_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_professor_links
    ADD CONSTRAINT academy_professor_links_created_by_uid_fkey FOREIGN KEY (created_by_uid) REFERENCES public.users(uid) ON DELETE SET NULL;


--
-- Name: academy_professor_links academy_professor_links_professor_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_professor_links
    ADD CONSTRAINT academy_professor_links_professor_uid_fkey FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: academy_requests academy_requests_professor_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_requests
    ADD CONSTRAINT academy_requests_professor_uid_users_uid_fk FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: academy_requests academy_requests_student_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_requests
    ADD CONSTRAINT academy_requests_student_uid_users_uid_fk FOREIGN KEY (student_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: academy_student_professor_assignments academy_student_professor_assignments_academy_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_student_professor_assignments
    ADD CONSTRAINT academy_student_professor_assignments_academy_uid_fkey FOREIGN KEY (academy_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: academy_student_professor_assignments academy_student_professor_assignments_created_by_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_student_professor_assignments
    ADD CONSTRAINT academy_student_professor_assignments_created_by_uid_fkey FOREIGN KEY (created_by_uid) REFERENCES public.users(uid) ON DELETE SET NULL;


--
-- Name: academy_student_professor_assignments academy_student_professor_assignments_professor_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_student_professor_assignments
    ADD CONSTRAINT academy_student_professor_assignments_professor_uid_fkey FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: academy_student_professor_assignments academy_student_professor_assignments_student_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.academy_student_professor_assignments
    ADD CONSTRAINT academy_student_professor_assignments_student_uid_fkey FOREIGN KEY (student_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: announcement_dismissals announcement_dismissals_announcement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcement_dismissals
    ADD CONSTRAINT announcement_dismissals_announcement_id_fkey FOREIGN KEY (announcement_id) REFERENCES public.announcements(id) ON DELETE CASCADE;


--
-- Name: announcement_dismissals announcement_dismissals_user_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcement_dismissals
    ADD CONSTRAINT announcement_dismissals_user_uid_fkey FOREIGN KEY (user_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: challenges challenges_creator_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_creator_uid_users_uid_fk FOREIGN KEY (creator_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: class_check_ins class_check_ins_schedule_id_class_schedules_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_check_ins
    ADD CONSTRAINT class_check_ins_schedule_id_class_schedules_id_fk FOREIGN KEY (schedule_id) REFERENCES public.class_schedules(id) ON DELETE SET NULL;


--
-- Name: class_check_ins class_check_ins_student_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_check_ins
    ADD CONSTRAINT class_check_ins_student_uid_users_uid_fk FOREIGN KEY (student_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: class_schedules class_schedules_professor_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_professor_uid_users_uid_fk FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: comments comments_author_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_author_uid_users_uid_fk FOREIGN KEY (author_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: comments comments_post_id_posts_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_post_id_posts_id_fk FOREIGN KEY (post_id) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: competitions competitions_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_uid_users_uid_fk FOREIGN KEY (uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_professor_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_professor_uid_users_uid_fk FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_student_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_student_uid_users_uid_fk FOREIGN KEY (student_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: events events_creator_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_creator_uid_users_uid_fk FOREIGN KEY (creator_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: extra_trainings extra_trainings_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.extra_trainings
    ADD CONSTRAINT extra_trainings_uid_users_uid_fk FOREIGN KEY (uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: goals goals_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goals
    ADD CONSTRAINT goals_uid_users_uid_fk FOREIGN KEY (uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: notifications notifications_to_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_to_uid_users_uid_fk FOREIGN KEY (to_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: payments payments_professor_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_professor_uid_users_uid_fk FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: payments payments_student_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_student_uid_users_uid_fk FOREIGN KEY (student_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: posts posts_author_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_author_uid_users_uid_fk FOREIGN KEY (author_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: promotions promotions_professor_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_professor_uid_users_uid_fk FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: promotions promotions_student_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_student_uid_users_uid_fk FOREIGN KEY (student_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_plan_id_plans_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_plans_id_fk FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE RESTRICT;


--
-- Name: subscriptions subscriptions_user_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_uid_users_uid_fk FOREIGN KEY (user_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: trainings trainings_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trainings
    ADD CONSTRAINT trainings_uid_users_uid_fk FOREIGN KEY (uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_uid_users_uid_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_uid_users_uid_fk FOREIGN KEY (uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- Name: whatsapp_instances whatsapp_instances_professor_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.whatsapp_instances
    ADD CONSTRAINT whatsapp_instances_professor_uid_fkey FOREIGN KEY (professor_uid) REFERENCES public.users(uid) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict J0pKv23dECKy4B7jiDcoDzq5YZkWBttvkRpRZnQkX0IPSU1cFVmOOlxcbqEkpX2

